@media (prefers-color-scheme: dark) {
    html {
        background-color: black;
    }

    .box {
        background-color: #222;
    }

    .input, .button, .textarea, .select select {
        background-color: #444;
    }

    html, .box, .title, .label, .input, .button, .textarea, .select select {
        color: white;
    }

    .button.is-primary {
        background-color: #086;
    }

    input[type=range] {
        accent-color: #086;
    }
}